*.o
alltests
Makefile
Makefile.in
.deps
.dirstamp
aclocal.m4
aqxclient
autom4te.cache
compile
config.log
config.status
configure
depcomp
install-sh
missing
test-driver
*.log
*.trs
INSTALL
vernier_client
