<!doctype html>
<html>
  <head><title>Vernier Client</title></head>
  <body>
    <h1>Vernier Client Information</h1>
    <p>
      Please specify your system and user information here
    </p>
    <form>
      <div>
        <label for="system">System</label>
        <select name="system" id="system">{{system_options}}</select>
      </div>
      <div>
        <label for="refresh-token">Google Refresh Token</label>
        <input type="text" id="refresh-token" name="refresh-token" placeholder="Google refresh token"></input>
      </div>
      <div>
        <label for="send-interval">Send interval (secs)</label>
        <input type="number" id="send-interval" name="send-interval" placeholder="send interval"></input>
      </div>
      <input type="submit"></input>
    </form>
  </body>
</html>
